.navbar {
  position: sticky;
  top: 0;
  height: 9vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(37, 37, 37, 0.068);
  .searchbar {
    margin-left: 7rem;
    display: flex;
    justify-content: center;
    padding: 10px;
    width: 25%;
    input[type="text"] {
      width: 100%;
      padding: 10px;
      border: none;
      border-radius: 20px;
      box-shadow: 0 0 15px 4px rgba(255, 255, 255, 0.06);
      outline: none;
      transition: all 0.3s ease-in-out;
      background-color: #454647;
      color: #fff;

      &:focus {
        box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.25);
      }

      &::placeholder {
        color: #aaa;
      }
    }
  }
  .navbar-header {
    font-size: larger;
    margin-right: 12%;
    color: rgba(0, 0, 0, 0.704);
  }

  @media (max-width: 768px) {
    flex-direction: column;
    height: auto;
    .searchbar {
      margin-left: 0;
      width: 100%;
    }
    .navbar-header {
      margin-right: 0;
    }
  }
}
